<div class="col-md-6 col-sm-12 col-xs-12">
    <h6>Latest matches</h6>

    <div class="main-lates-matches">
       <app-match-list-item chempionship="champ exemple" team1="team1name" team2="team2 name" logoTeam1="assets/images/common/team-logo1.png" logoTeam2="assets/images/common/team-logo1.png" score="2:1"></app-match-list-item>
       <app-match-list-item chempionship="champ exemple" team1="team1name" team2="team2 name" logoTeam1="assets/images/common/team-logo1.png" logoTeam2="assets/images/common/team-logo1.png" score="2:1"></app-match-list-item>
       <app-match-list-item chempionship="champ exemple" team1="team1name" team2="team2 name" logoTeam1="assets/images/common/team-logo1.png" logoTeam2="assets/images/common/team-logo1.png" score="2:1"></app-match-list-item>
       <app-match-list-item chempionship="champ exemple" team1="team1name" team2="team2 name" logoTeam1="assets/images/common/team-logo1.png" logoTeam2="assets/images/common/team-logo1.png" score="2:1"></app-match-list-item>
       <app-match-list-item chempionship="champ exemple" team1="team1name" team2="team2 name" logoTeam1="assets/images/common/team-logo1.png" logoTeam2="assets/images/common/team-logo1.png" score="2:1"></app-match-list-item>
     </div>
</div>