<tr>
    <td class="none">
        <i class="fa fa-circle" aria-hidden="true"></i> 1 <span class="team"><img src="../../assets/images/soccer/team-logo5.png" width="30" height="30" alt="team-logo"> </span>{{team}}
    </td>
    <td>11</td>
    <td>8</td>
    <td>2</td>
    <td>1</td>
    <td>+16</td>
    <td class="points"><span>26</span></td>
    <td class="form">
        <span class="win">w</span>
        <span class="drawn">d</span>
        <span class="lose">l</span>
        <span class="win">w</span>
        <span class="win">w</span>
    </td>
    <td><a href="club-stats.html"><img src="images/soccer/team-logo1.png" width="30" height="30" alt="team-logo"></a></td>
</tr>

<!-- Path: src\app\components\standing-one-table\standing-one-table.component.html -->
