
   

   

    
    <div class="broadcast-item">
        <div class="item-header" id="headingOne">
            <div class="row">
                <div class="col-md-1 col-sm-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-7 col-sm-10">
                    <div class="item-head-body">
                      
                        <a ><img src={{logo1}} width="40" height="40" alt="team-logo1"></a>
                        <span class="vs">vs</span>
                        <a><img src={{logo2}} width="40" height="40" alt="team-logo1"></a>
                        <span class="info">
                            <span class="then">{{team1}} VS {{team2}} </span>
                            <span class="what">{{ligue}}</span>
                        </span>
                        <a [routerLink]="['/payment', idt] "><span class="marker">buy!</span></a>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="channel">
                        <img src="../../assets/images/common/channel-logo.png" width="40" height="40" alt="channel-logo">
                        <span class="info">
                            <span class="what">{{time}}</span>
                            <span class="then">{{date}}</span>
                        </span>
                    </div>
                </div>
            </div>	
        </div>
        
    </div>